<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.kotin.my.address" >
        <application
            android:allowBackup="false"
            android:label="@string/app_name"
            android:supportsRtl="true">
            <activity android:name=".ui.activity.AddressActivity">
            </activity>
            <activity android:name=".ui.activity.AddGroupActivity"/>
            <activity android:name=".ui.activity.PublicGroupActivity"/>
        </application>


    </manifest>
